body
{
	background-color: black;
	color: white;
	font-family: Impact, Helvetica, Sans-Serif;
	text-align: center;
}

div
{
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	color: black;
	width: 60%;
	margin: 0 auto;
}

p
{
	font-size: 4vh;
	font-family: Helvetica, Sans-Serif;
}

h1
{
	font-size: 8vh;
}

h2
{
	font-size: 6vh;
	text-decoration: underline;
}

button
{
	height: 10vh;
	width: 20%;
	font-size: 8vh;
	margin: 2vw;
}

#answer
{
	height: 5vh;
	width: 50%;
	font-size: 4vh;
	margin-bottom: 2vh;
}