html
{
	scroll-behavior: smooth;
}

body
{
	color: #55105D;
	background-color: #FFBAFB;
	margin: 0;
	overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6
{
	font-family: Impact, Helvetica;
}

h2, h3, h4, h5, h6
{
	text-decoration: underline;
}

.header
{
	background-color: #CC57FE;
	width: 100%;
	height: 5vw;
	position: fixed;
	top: -1vh;
	padding-bottom: 5vh;
	z-index: 10;
	
}

.header h2
{
	text-align: center;
	letter-spacing: 1vw;
	font-size: 7vh;
	text-decoration: underline;
	padding: 1vh 0;
	margin: 2vh;
}

.nav-bar
{
	width: 100%;
	background-color: #7E44B9;
	position: absolute;
	bottom: -4vh;
	text-align: center;
	border-bottom-style: solid;
	border-color: black;
	border-width: 0.25vw;
}

.nav-bar a, .nav-bar span
{
	font-size: 2vw;
	font-family: Impact, Helvetica;
	padding: 0 2vw;
	background-color: #F364E0;
	color: #55105D;
	margin: 0 1vw;
	text-decoration: none;
}

.nav-bar span
{
	background-color: #F3648B;
	color: #FFB7FD;
}

.nav-bar a:hover,.nav-bar a:focus
{
	background-color: #E354D0;
	cursor: pointer;
}

.nav-bar a:active
{
	background-color: #F374F0;
	color: #75307D;
}

.title
{
	background-image: url(images/home-title.jpg);
	width: 100%;
	height: 40vh;
	overflow-y: hidden;
	text-align: center;
	position: relative;
	top: 15vh;
	background-size: 100%;
	border-color: black;
	border-style: solid;
	border-width: 0.25vw;
	
}

.title h1
{
	font-family: "Times New Roman", Serif;
	font-size: 5vh;
	background-color: #82188F;
	color: #F5A2FF;
	max-width: 40%;
	display: inline;
	border-color: black;
	border-style: solid;
	border-width: 1vw;
	border-radius: 1vw;
	margin: 20vh auto;
	position: relative;
	top: 15vh;
	padding: 1vh 2vw;
}

.magenta
{
	background-color: #E877FF;
}

.pink
{
	background-color: #FFBAFB;
}

.content
{
	overflow-y: hidden;
	width: 100%;
	height: 50vh;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 0.25vw;
	position: relative;
	top: 15vh;
	overflow-x: hidden;
}

.content img
{
	float: left;
}

.content h2
{
	font-size: 4vh;
	display: inline;
	
}

.content:not(.index-content) h2
{
	position: absolute;
	top: 10vh;
	right: 15vh;
}

p
{
	font-family: Calibri;
	font-size: 3vh;
}

.content p
{
	width: 95%;
	margin: 0 auto;
}

.content img.right
{
	position: relative;
	left: 57vw;
}

.content h2.left, .content p.left
{
	position: relative;
	left: -42.5vw;
}

footer
{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	top: 93%;
	z-index: 10;
	background-color: #ff85db;
	border-style: solid;
	border-radius: 35vh 35vh 0 0;
	text-decoration: none;
	letter-spacing: 0.25vw;
}

footer h3
{
	text-decoration: none;
	font-size: 3vh;
	margin-top: 1.5vh;
}

nav.web-nav
{
	position: fixed;
	right: 3vw;
	top: 20vh;
	z-index: 10;
}

nav.web-nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.web-nav li
{
	margin: 0;
	padding: 0;
	line-height: 5vh;
	display: flex;
}

nav.web-nav a:link, nav.web-nav a:visited
{
	text-decoration: none;
	color: #7777FF;
	text-shadow: 0.1vh 0.1vw 0 #000000;
	font-size: 3vh;
	margin: 0;
	padding: 0;
}

nav.web-nav a:hover, nav.web-nav a:focus
{
	text-decoration: underline;
}

/*
	Responsive Website Design
*/

@media screen and (max-width: 900px)
{
	.nav-bar a, .nav-bar span
	{
		display: block;
		font-size: 5vh;
		letter-spacing: 1vw;
	}
	.nav-bar
	{
		border-width: 0.5vw;
		top: 11vh;
		left: -1vw;
		width: 102%;
	}
	.title
	{
		margin-top: 30vh;
	}
	.title h1
	{
		font-size: 5vh;
	}
	.content
	{
		height: 120vh;
		width: 100%;
		y-overflow: visible;
	}
	.content img
	{
		display: inline;
		height: auto;
		width: 100%;
		position: static;
	}
	.content h2
	{
		position: static;
		color: #F5A2FF;
		background-color: #82188F;
		border-color: black;
		border-style: solid;
		border-width: 1vw;
		border-radius: 1vw;
	}
	.content p
	{
		font-size: 5vh;
	}
	.header
	{
		position: relative;
		margin-bottom: 0;
	}
	.header h2
	{
		font-size: 5vh;
	}
	.content img.right, .content h2.left, .content p.left
	{
		position: static;
	}
	nav.web-nav
	{
		top: 5vh;
	}
	nav.web-nav a:link, nav.web-nav a:visited
	{
		line-height: 6vh;
	}
}

