/* Initialie variables for easy use */
$bg-col: black;
$net-col: white;
$sec-col: #ff0000;
$fonts: Calibri, Verdana, Sans-Serif;
$title-fonts: Impact, Bookman, Sans-Serif;
$font-size: 20px;
$title-font-size: 30px;