
/* Prevents any transitions from playing before the page loads */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
 }

body
{
	background-color: #3D0352;
	background-image: url("../images/general/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 10vw;
	animation: fadein 1.5s ease-in-out;
	-webkit-animation: fadein 1s ease-in-out;
	-moz-animation: fadein 1s ease-in-out;
	-o-animation: fadein 1s ease-in-out;
	-ms-animation: fadein 1s ease-in-out;
}

h1, h2, h3, h4, h5, h6
{
	text-decoration: underline;
	font-family: Garamond, palatino, serif;
}

h1
{
	font-size: 7.5vh;
}

h2
{
	font-size: 5vh;
}

p
{
	font-family: helvetica, calibri, sans-serif;
	font-size: 2.5vh;
	padding: 0 10vh;
}

nav a, nav span
{
	font-size: 4vh;
	font-family: impact, helvetica, sans-serif;
	margin: 0 1vw;
}


header
{
	background-color: white;
	text-align: center;
	width: 100%;
}

header h1
{
	font-family: "Courier", palatino, serif;
	text-decoration: underline;
	font-size: 10vh;
	display: inline-block;
}

nav
{
	text-align: center;
	background-color: #DDDDDD;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}

nav #drop-button
{
	font-size: 4vh;
	cursor: default;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,0);
	border: none;
	color: black;
	font-family: impact, helvetica, sans-serif;
	font-size: 2vh;
	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	font-size: 4vh;
}

nav #drop-button.active
{
	color: #a051c4;
}

main
{
	background-color: white;
	text-align: center;
	padding-bottom: 15vh;
}

nav #active
{
	color: #a051c4;
	text-decoration: underline;
}

nav #drop-down
{
	color: black;
	position: absolute;
	display: none;
	left: -3.5vw;
	width: 200%;
	padding-bottom: 2vh;
	background-color: #DDDDDD;
	animation: fadein 0.25s ease-in-out forwards;
	-webkit-animation: fadein 0.25s ease-in-out forwards;
	-moz-animation: fadein 0.25s ease-in-out forwards;
	-o-animation: fadein 0.25s ease-in-out forwards;
	-ms-animation: fadein 0.25s ease-in-out forwards;
}

nav #drop-button:hover #drop-down, nav #drop-button:focus #drop-down
{
	display: block;
}

nav a
{
	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	display: inline-block;
}

nav a:link, nav a:visited
{
	color: black;
	text-decoration: none;
}

nav a:hover, nav a:focus
{
	color: #a051c4;
	cursor: pointer;
	text-decoration: underline;
	transform: translateY(-0.25vh);
}

nav #drop-down a
{
	display: block;
	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
}

footer
{
	background-color: #DDDDDD;
	position: fixed;
	bottom: 0vh;
	width: calc(100% - 20vw);
	height: 10vh;
	text-align: center;
}

footer p
{
	font-size: 3.5vh;
}

#pageImage
{
	width: 100%;
	height: 80vh;
	display: inline-block;
}

#pageImage div
{
	background-color: rgba(0,0,0,0.5);
	color: white;
	height: calc(100% - 20vh);
	width: calc(100% - 20vh);
	display: inline-block;
	padding: 10vh;
	opacity: 0;
	animation: fadein 0.5s ease-in-out 1s forwards;
	-webkit-animation: fadein 0.5s ease-in-out 1s forwards;
	-moz-animation: fadein 0.5s ease-in-out 1s forwards;
	-o-animation: fadein 0.5s ease-in-out 1s forwards;
	-ms-animation: fadein 0.5s ease-in-out 1s forwards;
}

#pageImage h1
{
	font-size: 3.5vw;
	animation: spiny 2.5s ease-in-out;
	-webkit-animation: spiny 2.5s ease-in-out;
	-moz-animation: spiny 2.5s ease-in-out;
	-ms-animation: spiny 2.5s ease-in-out;
	-o-animation: spiny 2.5s ease-in-out;
}

#pageImage p
{
	font-size: 2.5vw;
	animation: spiny 3s ease-in-out;
	-webkit-animation: spiny 3s ease-in-out;
	-moz-animation: spiny 3s ease-in-out;
	-ms-animation: spiny 3s ease-in-out;
	-o-animation: spiny 3s ease-in-out;
}

div.product
{
	display: inline-block;
	height: 35vh;
	border: solid 0.25vh black;
	padding: 1vh 1vw;
	margin: 2vh 1vw;
	background-color: white;
	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	box-shadow: 0.5vw 1vh 1vh 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0.5vw 1vh 1vh 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0.5vw 1vh 1vh 0 rgba(0,0,0,0.5);
	-o-box-shadow: 0.5vw 1vh 1vh 0 rgba(0,0,0,0.5);
	-ms-box-shadow: 0.5vw 1vh 1vh 0 rgba(0,0,0,0.5);
	text-align: center;
	vertical-align: top;
	width: 17.5vw;
}

div.product:hover
{
	transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
}

div.product img
{
	width: 100%;
	height: 70%;
	border: solid black 0.25vh;
}

/* Animations */
@keyframes fadein
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@-webkit-keyframes fadein
{
	from
	{
		-webkit-opacity: 0;
	}

	to
	{
		-webkit-opacity: 1;
	}
}

@-moz-keyframes fadein
{
	from
	{
		-moz-opacity: 0;
	}

	to
	{
		-moz-opacity: 1;
	}
}

@-ms-keyframes fadein
{
	from
	{
		-ms-opacity: 0;
	}

	to
	{
		-ms-opacity: 1;
	}
}

@-o-keyframes fadein
{
	from
	{
		-o-opacity: 0;
	}

	to
	{
		-o-opacity: 1;
	}
}

@keyframes spiny
{
	0%
	{
		transform: rotateY(90deg);
	}

	50%
	{
		transform: rotateY(90deg);
	}

	100%
	{
		transform: rotateY(0deg);
	}
}

@-webkit-keyframes spiny
{
	0%
	{
		transform: rotateY(90deg);
	}

	50%
	{
		transform: rotateY(90deg);
	}

	100%
	{
		transform: rotateY(0deg);
	}
}

@-o-keyframes spiny
{
	0%
	{
		transform: rotateY(90deg);
	}

	50%
	{
		transform: rotateY(90deg);
	}

	100%
	{
		transform: rotateY(0deg);
	}
}

@-moz-keyframes spiny
{
	0%
	{
		transform: rotateY(90deg);
	}

	50%
	{
		transform: rotateY(90deg);
	}

	100%
	{
		transform: rotateY(0deg);
	}
}

@-ms-keyframes spiny
{
	0%
	{
		transform: rotateY(90deg);
	}

	50%
	{
		transform: rotateY(90deg);
	}

	100%
	{
		transform: rotateY(0deg);
	}
}

/* Responsive Web Design */
@media screen and (max-width: 600px)
{
	div.product
	{
		display: block;
		text-align: center;
		width: 80%;
		height: 90vh;
		margin: 2vh auto;
	}

	nav a, nav span, nav div
	{
		font-size: 3vh;
	}

	body
	{
		background-repeat: repeat-y;
		background-size: 100% 20%;
		margin: 0 2.5vw;
		opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
	}

	div.product img
	{
		height: 85%;
	}

	div.product p
	{
		font-size: 8.5vw;
		display: inline-block;
		margin-top: 0;
	}

	#pageImage
	{
		padding: 2vw;
		width: calc(100% - 4vw);
	}

	#pageImage h1
	{
		font-size: 7vw;
		margin: 0;
		margin-top: 2vh;
	}

	#pageImage p
	{
		font-size: 5vw;
	}

	#pageImage div
	{
		padding: 5vw;
		height: calc(100% - 10vw);
		width: calc(100% - 10vw);
	}

	nav
	{
		position: static;
	}

	nav a
	{
		display: block;
		font-size: 3vh;
	}

	nav span
	{
		display: block;
	}

	nav #drop-button
	{
		display: block;
		font-size: 3vh;
	}

	nav #drop-down
	{
		width: 100%;
		position: static;
		background-color: white;
		padding: 10vw 0;
	}

	footer
	{
		width: 100%;
	}

	footer p
	{
		font-size: 5vw;
	}

	main
	{
		padding: 0 2vw;
		padding-bottom: 10vh;
	}

	main p
	{
		margin: 5vh auto;
		font-size: 3vh;
	}
}