
/* Create Mixins to be used later */
@import "utils/mixins.scss";

/* Creates variables that are used */
@import "utils/variables.scss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-col;
    color: $net-col;
    font-family: $fonts;
    text-align: center;
    font-size: $font-size;
    @include animation("floatIn 1s ease");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $sec-col inset !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $sec-col;
    font-family: $title-fonts;
    letter-spacing: 0.1vw;
    font-size: $title-font-size;
}

a {
    color: $sec-col;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

/* Imports the SCSS for forms */
@import "components/form.scss";

/* Imports the SCSS for the location page */
@import "components/location.scss";

/* Imports the SCSS for the header */
@import "components/head.scss";

/* Imports the SCSS for the slideshow */
@import "components/slideshow.scss";

/* Imports the SCSS for the drop-down menus */
@import "components/drop-down.scss";

/* Imports the SCSS for tables */
@import "components/table.scss";

/* Imports the SCSS for the games page */
@import "components/games.scss";

/* Imports the media query used */
@import "components/media.scss";

/* Imports the animations that are used */
@import "utils/animations.scss";




