/* Create Mixins to be used later */
/* Creates the keyframes for an animation */
/* Calls an animation */
/* Transforms an element */
/* Sets up a transition */
/* Initialie variables for easy use */
html {
  scroll-behavior: smooth; }

body {
  background-color: black;
  color: white;
  font-family: Calibri, Verdana, Sans-Serif;
  text-align: center;
  font-size: 20px;
  -webkit-animation: floatIn 1s ease;
  -moz-animation: floatIn 1s ease;
  -o-animation: floatIn 1s ease;
  -ms-animation: floatIn 1s ease;
  animation: floatIn 1s ease; }

form {
  border: 0.25vw #ff0000 solid;
  display: inline-block;
  padding: 3vh 3vw; }
  form * {
    -webkit-animation: fadeIn 0.5s ease;
    -moz-animation: fadeIn 0.5s ease;
    -o-animation: fadeIn 0.5s ease;
    -ms-animation: fadeIn 0.5s ease;
    animation: fadeIn 0.5s ease; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black; }

input[type="text"], textarea, input[type="email"], input[type="submit"], input[type="number"], select {
  background-color: #ff0000;
  color: black;
  border: none;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease; }
  input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="number"]:hover, input[type="number"]:focus, select:hover, select:focus {
    background-color: #cc0000; }

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  background: url(../Images/spritesheets/input-spritesheet.png) 0 0;
  display: inline-block;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease; }
  input[type="radio"]:checked {
    background: url(../Images/spritesheets/input-spritesheet.png) 0 -15px;
    transform: scale(1.25,1.25);
    -webkit-transform: scale(1.25,1.25);
    -ms-transform: scale(1.25,1.25);
    -moz-transform: scale(1.25,1.25);
    -o-transform: scale(1.25,1.25); }

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 15px;
  width: 15px;
  background: url(../Images/spritesheets/input-spritesheet.png) 15px 0;
  display: inline-block;
  position: relative;
  top: 4px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease; }
  input[type="checkbox"]:checked {
    background: url(../Images/spritesheets/input-spritesheet.png) 15px -15px;
    transform: scale(1.25,1.25);
    -webkit-transform: scale(1.25,1.25);
    -ms-transform: scale(1.25,1.25);
    -moz-transform: scale(1.25,1.25);
    -o-transform: scale(1.25,1.25); }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ff0000 inset !important; }

h1, h2, h3, h4, h5, h6 {
  color: #ff0000;
  font-family: Impact, Bookman, Sans-Serif;
  letter-spacing: 0.1vw;
  font-size: 30px; }

a {
  color: #ff0000;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

.location {
  border: 0.1vw #ff0000 solid;
  padding: 1vh 1vw;
  display: inline-block;
  height: 100%;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -webkit-animation: fadeIn 0.5s ease;
  -moz-animation: fadeIn 0.5s ease;
  -o-animation: fadeIn 0.5s ease;
  -ms-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease; }
  .location:hover, .location:focus {
    transform: scale(1.025, 1.025);
    -webkit-transform: scale(1.025, 1.025);
    -ms-transform: scale(1.025, 1.025);
    -moz-transform: scale(1.025, 1.025);
    -o-transform: scale(1.025, 1.025); }

#location-grid {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  align-items: center; }
  #location-grid::-webkit-scrollbar {
    display: none; }

header {
  width: calc(100% - 6vw);
  margin: 0 3vw; }
  header nav {
    display: flex;
    display: -ms-flexbox;
    background-color: maroon; }
    header nav a {
      flex: 1;
      text-align: center;
      color: black;
      text-decoration: none;
      font-size: 2.5vw;
      border: black solid 0.25vw;
      transition: background-color 0.5s ease;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      -ms-transition: background-color 0.5s ease; }
      header nav a:hover, header nav a:focus {
        background-color: #ff0000;
        text-decoration: none; }

#slideshow-container {
  border: 0.5vw #ff0000 solid;
  height: 75vh; }

.slide {
  -webkit-animation: fadeIn 1s 1;
  -moz-animation: fadeIn 1s 1;
  -o-animation: fadeIn 1s 1;
  -ms-animation: fadeIn 1s 1;
  animation: fadeIn 1s 1;
  width: 100%;
  margin: 0; }
  .slide img {
    width: 100%;
    height: 70vh; }

.dot {
  width: 0.5vw;
  height: 0.5vh;
  border: #ff0000 0.5vw solid;
  border-radius: 50%;
  font-size: 0.5vh;
  margin: 1vh;
  padding: 0.1vw;
  background-color: #ff0000;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: background-color 0.5s ease, border-color 0.5s ease;
  -ms-transition: background-color 0.5s ease, border-color 0.5s ease; }
  .dot.active {
    border-color: white;
    background-color: white; }
  .dot:hover:not(.active), .dot:focus:not(.active) {
    border-color: #cc0000;
    background-color: #cc0000; }

#active {
  background-color: #ff0000; }

.drop-down {
  border: 0.25vw black solid;
  cursor: pointer;
  border-collapse: collapse;
  background-color: #b30000; }
  .drop-down h2 {
    color: black; }

.drop-down2 {
  border: 0.25vw #b30000 solid;
  border-collapse: collapse;
  -webkit-animation: fadeIn 1s 1;
  -moz-animation: fadeIn 1s 1;
  -o-animation: fadeIn 1s 1;
  -ms-animation: fadeIn 1s 1;
  animation: fadeIn 1s 1; }

table {
  border: 0.25vw #ff0000 solid;
  border-collapse: collapse; }
  table th {
    background-color: #ff0000;
    color: black;
    font-weight: bolder;
    padding: 1vw;
    border-collapse: collapse;
    font-family: Impact, Bookman, Sans-Serif;
    border: 0.1vw black solid;
    font-size: 30px; }
  table td {
    text-align: center;
    border: 0.1vw #ff0000 solid;
    padding: 0.5vw;
    border-collapse: collapse;
    font-size: 20px; }
  table tr {
    border: 0.1vw #ff0000 solid;
    border-collapse: collapse; }

.required {
  color: #ff0000; }

#game-display {
  width: calc(100% - 10vw);
  margin: 0 5vw;
  border: 0.25vw #ff0000 solid;
  height: 100vh;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; }
  #game-display .game {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    border: #ff0000 0.25vw solid;
    -webkit-animation: fadeIn 0.5s ease;
    -moz-animation: fadeIn 0.5s ease;
    -o-animation: fadeIn 0.5s ease;
    -ms-animation: fadeIn 0.5s ease;
    animation: fadeIn 0.5s ease;
    display: inline-block; }
    #game-display .game.hide {
      -webkit-animation: fadeOut 0.5s ease forwards;
      -moz-animation: fadeOut 0.5s ease forwards;
      -o-animation: fadeOut 0.5s ease forwards;
      -ms-animation: fadeOut 0.5s ease forwards;
      animation: fadeOut 0.5s ease forwards; }
    #game-display .game.hidden {
      display: none; }
    #game-display .game img {
      width: 100%; }
    #game-display .game:hover, #game-display .game:focus {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1); }
  #game-display::-webkit-scrollbar {
    display: none; }

@media only screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px; }
  body {
    font-size: 10px; }
  #slideshow-container {
    height: 45vh; }
  .slide img {
    height: 35vh;
    margin-bottom: 2vh; }
  .dot {
    border-width: 2vw; }
  header nav a {
    font-size: 4vw; }
  header img {
    width: 100%; }
  table tr td {
    font-size: 10px; }
  table tr th {
    font-size: 20px; }
  form {
    text-align: left; }
  label, input {
    display: block; }
  select {
    margin: 5px; }
  #location-grid {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 30px 10px; }
  #game-display {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }

@-webkit-keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); } }

@-moz-keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); } }

@-ms-keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); } }

@-o-keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); } }

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
    -webkit-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px); }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px); } }
